.projects {
  display: grid;
  width: 100%;
  grid-template-columns: 48.9% 48.9%;
  gap: 20px;
  background-color: black;
  padding: 0px 80px;
  //height: 205vh;
  &-card {
    //width: 50%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.08);
    color: #fff;
    padding: 40px;
    border-radius: 5px;
    .projects-card-img {
      width: 100%;
      height: 300px;
    }
  }
  &-card:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &-card-content {
    text-align: center;
    .appName {
      font-size: 30px;
      font-weight: 400;
      padding: 30px 0px;
    }
    .appInfo {
      color: rgba(255, 255, 255, 0.5);
    }
    .appTech {
      display: flex;
      justify-content: space-evenly;
      padding: 25px 0px;
      .tech {
        background-color: rgba(255, 255, 255, 0.1);

        border: none;
        border-radius: 20px;
        padding: 5px 12px;
        font-size: 14px;
      }
    }
    .appIcon {
      padding-top: 10px;
      .social-icons {
        color: white;
        font-size: 25px;
        margin-right: 25px;
      }
      .social-icons:hover {
        color: #ff4901;
        cursor: pointer;
        transition: 0.3s ease-in-out;
      }
    }

    .desk:hover {
      color: #ff4901;
      cursor: pointer;
      transition: 0.4s ease-in-out;
    }
    .git:hover {
      color: #ff4901;
      cursor: pointer;
      transition: 0.4s ease-in-out;
    }
  }
  /*  &-card:hover {
    background-color: #ff4901;
  } */
}
@media (max-width: 900px) {
  .projects {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 20px;
    background-color: black;
    padding: 0px 80px;
    // height: fit-content;
  }
}
