.skills {
  background-color: black;
  height: 45vh;
  color: white;
  .ant-progress-inner {
    background-color: #1a1a1a;
    border-radius: 5px;
  }
  .ant-progress-bg {
    background-color: #ff4901;
    border-radius: 5px;
    height: 10px !important;
  }
  .ant-progress-text {
    display: none;
  }
  display: grid;
  grid-template-columns: 45.33% 45.33%;
  column-gap: 7%;

  padding: 0px 80px !important;
}

@media (max-width: 700px) {
  .skills {
    height: 85vh;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 5%;
  }
}
