.skills {
  background-color: black;
  color: white;

  .ant-progress.ant-progress-show-info .ant-progress-outer {
    margin-inline-end: 0px;
    padding-inline-end: 0px;
  }
  .ant-progress-inner {
    background-color: #1a1a1a;
    border-radius: 5px;
  }
  .ant-progress-bg {
    background-color: #ff4901;
    border-radius: 5px;
    height: 10px !important;
  }
  .ant-progress-text {
    display: none;
  }
  display: grid;
  grid-template-columns: 45.33% 45.33%;
  column-gap: 7%;
  justify-content: space-between;
  gap: 30px;
  padding: 0px 80px !important;
}

@media (max-width: 700px) {
  .skills {
    display: grid;
    grid-template-columns: 100%;
    //row-gap: 5%;
  }
}
